@import './Variables.module.css';

.bigTitle {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary-color);
    font-family: var(--font-family);
    margin-bottom: 10px;
}

.normalTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--tertiary-color);
    font-family: var(--font-family);
}

.subtitle {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: rgb(32, 31, 31);
    font-family: var(--font-family);
    font-weight: bold;
}

.descBlack {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: rgb(43, 42, 42);
    font-family: var(--font-family);
    margin-top: 1rem;
}

.descWhite {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: white;
    font-family: var(--font-family);
}

.button {
    background-color: var(--quaternary-color); 
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 140px;
}

.button:hover {
    background-color: #31eb3a; 
}

.serviceItem {
    text-align: center;
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    background: rgb(205, 219, 250);
    border-radius: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 1rem auto;
}

.serviceItem:hover {
    transform: translateY(-10px);
}

.serviceDetail {
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .bigTitle {
        font-size: 2.5rem;
    }

    .normalTitle {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .descBlack,
    .descWhite {
        font-size: 1rem;
    }

    .serviceItem {
        flex: 1 1 90%;
    }
}