.blog-post{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
}
.blog-image {
    width: 40%;
    height: auto;
    border-radius: 8px;
}