.blog-container {
    padding:4rem 2rem;
    background-image: url('../images/fondoplomo.png');
    background-size: cover;
    background-position: center;
    background-color: #efefef;
    position: relative;
}
