:root {
    --primary-color:rgb(21, 218, 253);
    --secondary-color:  rgb(255, 255, 255);
    --tertiary-color: rgb(87, 86, 86);
    --quaternary-color: rgba(49, 180, 60, 0.911);
    --font-family: 'Roboto', sans-serif;
  }